// ============================================
// LAYOUT - TIMELINE PROPIO
// ============================================
// NOTA: Estilos propios para timeline

@use '../abstracts' as *;

// ============================================
// TIMELINE PROPIO DEL SITIO
// ============================================

.site-timeline {
    position: relative;
    padding-left: 2rem;
    
    @include respond-below(md) {
        padding-left: 1rem;
    }
}

.site-timeline-item {
    position: relative;
}

.site-timeline-marker {
    position: relative;
    @include flex-column;
    align-items: center;
    min-width: 60px;
    
    @include respond-below(md) {
        min-width: 40px;
    }
}

.site-timeline-icon {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-circle;
    @include flex-center;
    font-size: 1.25rem;
    box-shadow: $shadow-md;
    z-index: 2;
    position: relative;
    color: $text-light;
    
    // Colores para los iconos
    &-primary {
        background-color: $site-primary;
    }
    
    &-accent {
        background-color: $site-accent;
        color: $text-primary;
    }
    
    &-highlight {
        background-color: $site-highlight;
    }
    
    &-info {
        background-color: $site-info;
    }
    
    @include respond-below(md) {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

.site-timeline-line {
    width: 3px;
    flex-grow: 1;
    @include gradient-bg($site-primary, $site-info, 180deg);
    margin-top: $spacing-xs;
    min-height: 50px;
    border-radius: 2px;
    
    .site-timeline-item:last-child & {
        display: none;
    }
}

.site-timeline-content {
    flex-grow: 1;
    padding-bottom: $spacing-lg;
}
